* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.main {
  margin: 0px;
  padding: 50px 30px;
  /* height: ; */
}

.main--header {
  /* margin-left: 10px; */
  color: #deebf8;
  letter-spacing: -0.05em;
}

.main--listitem {
  color: #deebf8;
  margin-bottom: 15px;
}
